  <nav class="navbar">
    <div class="nav-logo">Itinerário Pastoral</div>
    <div class="nav-links">
      <a href="/calendar/index">Calendário</a>
      <a href="/register/index">Cadastro</a>
      <a href="#">Sair</a>
    </div>
  </nav>